.answerIcon {
  position: relative;
  background: url(./icons/robot.svg);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.typeingIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.questionIcon {
  background: url(./icons/default-avatar.jpg);
  background-size: contain;
  border-radius: 50%;
}

.answer::before,
.question::before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 12px;
}

.answer::before {
  left: 0;
  background: url(./icons/answer.svg) no-repeat;
}

.answerWrap .itemOperation {
  display: none;
}

.answerWrap:hover .itemOperation {
  display: flex;
}

.question::before {
  right: 0;
  background: url(./icons/question.svg) no-repeat;
}

.textArea {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 90px;
  border-radius: 12px;
  line-height: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.textArea:hover {
  background-color: #f5f5f5;
}

.textArea:focus {
  outline: none;
  box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.count {
  /* display: none; */
  padding: 0 2px;
}

.sendBtn {
  background: url(./icons/send.svg) center center no-repeat;
  transition: all 0.2s ease;
}

.sendBtn:hover {
  background-image: url(./icons/send-active.svg);
  background-color: #EBF5FF;
  transform: scale(1.1);
}

.newBtn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(./icons/new.svg) center center no-repeat;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.newBtn:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

.textArea:focus+div .count {
  display: block;
}

.textArea:focus+div .sendBtn {
  background-image: url(./icons/send-active.svg);
}